.container {
  background-color: #9ab87a;
  padding: 20px 0 20px 20px;
  display: flex;
}

.searchField {
  font-size: 16px;
  width: 400px;
  border: none;
  background-color: white;
  padding: 10px;
  color: #3d315b;
}

.searchField:focus {
  outline: none;
}

.button {
  background-color: #f8f991;
  border: none;
  height: 38px;
  color: #3d315b;
  font-size: 14px;
  cursor: pointer;
}
